{% extends 'base.html' %}

{% block body %}
  <h3>Overview</h3>
  This site is a tool that Ngx CC uses for helping users in the #nginx IRC
  channel on freenode. It allows users to paste configuration files and other
  pieces of data to allow us to help them.

  <h3>The Difference</h3>
  We created yet another pastebin service because we needed something that fit
  our needs better. We couldn't find something that we liked, so we started
  from scratch.

  This service:
  <ul>
    <li>Integrates with the #nginx IRC channel</li>
    <li>Offers relevant syntax hilighting options</li>
    <li>Automatic expiration of data</li>
    <li>Has cookie based personal defaults</li>
    <li>Includes an IRC Nick option</li>
    <li>Blocks spam!</li>
    <li>More...</li>
  </ul>

  <h3>Using Curl</h3>
  The best way to provide a complete picture of what's going on looks like this:
  <br /><i>curl -X POST -F 'name=$your_nick' -F 'syntax=nginx' -F "code=$(nginx -T)" https://paste.ngx.cc/</i>
  <br /><br />Single config files can be uploaded:
  <br /><i>curl -X POST -F 'name=$your_nick' -F 'syntax=nginx' -F 'code=@/etc/nginx/conf.d/mysite.conf' https://paste.ngx.cc/</i>
  <br /><br />It's also possible to provide logs this way:
  <br /><i>curl -X POST -F 'name=$your_nick' -F 'syntax=nginx' -F "code=$(tail -n 100 /var/log/nginx/*.log)" https://paste.ngx.cc/</i>

  <p class="note">
    If you have any questions or concerns about this, please check out the
    <a href="https://github.com/ngx/pbin">project page</a>.

{% endblock %}
