<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
    <meta charset="utf8" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    {% if title %}
    <title>{% block title %}ngx pastebin{% endblock %}</title>
    {% else %}
    <title>ngx pastebin</title>
    {% endif %}
    <meta name="keywords" content="nginx, ngx, pastebin" />
    <meta name="description" content="ngx cc pastebin service" />
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no" />
    <link rel="shortcut icon" href="/static/images/favicon.ico" type="image/vnd.microsoft.icon" />
    <meta name="google-site-verification" content="" />
    <link type="text/css" rel="stylesheet" href="/static/css/site.css" media="all" />
    {% block head %}{% endblock %}
  </head>

  <body>
    <div id="outerColumnContainer" style="color: #00000">
      <div id="contentColumn">
        <div class="inside">
          <a href="/" rel="home" id="title"><img src="/static/images/logo.png" alt={% if title %}{{ title }}{% else %}ngx pastebin{% endif %}"></a>
          <hr />
          {% block body %}{% endblock %}
        </div>
      </div>
    </div>
  </body>
</html>
