{% extends 'base.html' %}

{% block body %}
  <form action="/" method="post"><table id="pasteform"><tbody>
    <tr>
      <td>
        <label for="title">Title</label>
      </td>
      <td>
        <input value="{{ data['title']|e }}" type="text" id="title" name="title" maxlength="32" tabindex="1" required />
      </td>
      <td>
        <label for="name">IRC Nick</label>
      </td>
      <td colspan="2">
        <input type="text" name="name" id="name" maxlength="32" value="{{ data['name']|e }}" tabindex="2" required />
        <input type="text" name="phone" id="phone" maxlength="32" value="" tabindex="30" />
      </td>
    </tr>
    <tr>
      <td>
        <label for="code">Code</label>
      </td>
      <td colspan="4">
        <textarea id="code" name="code" cols="60" rows="20" tabindex="3" required>{{ data['code']|e }}</textarea>
      </td>
    </tr>
    <tr>
      <td>
        <label for="syntax">Syntax</label>
      </td>
      <td>
        <select name="syntax" id="syntax" class="select" tabindex="4">
          <option value="nginx">Nginx Config</option>
          <option value="html">HTML</option>
          <option value="text">Plain Text</option>
          <option value="0">-----------------</option>
          <option value="apache">Apache</option>
          <option value="bash">Bash</option>
          <option value="c">C</option>
          <option value="css">CSS</option>
          <option value="javascript">JavaScript</option>
          <option value="lua">Lua</option>
          <option value="mysql">MySQL</option>
          <option value="pcre">PCRE</option>
          <option value="perl">Perl</option>
          <option value="php">PHP</option>
          <option value="postgresql">PostgreSQL</option>
          <option value="python">Python</option>
          <option value="ruby">Ruby</option>
          <option value="sql">SQL</option>
          <option value="xml">XML</option>
        </select>
      </td>
      <td>
        <label class="check" for="private">Private</label>
      </td>
      <td>
        <input type="checkbox" name="private"{% if data['private'] == '1' %}checked="checked" {% endif %} id="private" tabindex="5" />
      </td>
      <td style="text-align: right;">
        {% if 'paste_id' in data %}
        <input type="hidden" name="forked_from" value="{{ data['paste_id'] }}" />
        {% endif %}
        <button type="submit" value="submit" name="submit" tabindex="6">Create Paste</button>
      </td>
    </tr>
  </tbody></table></form>
  <p class="note">
    All fields are required. Your paste will be deleted after four days.
    If you are not posting this for use in the IRC channel, please check Private.
    <br />Click <a href="/about">About</a> to see more information.
  </p>
{% endblock %}
