{% extends 'base.html' %}

{% block head %}
  <style>{{ paste['css'] }}</style>
{% endblock %}

{% block body %}
  <div class="bar">
    <div class="author">
      Author: <strong>{{ paste['name']|e }}</strong>
    </div>
  </div>
  <div class="paste">
    {{ paste['code'] }}
  </div>
  <div class="bar">
    <div class="syntax">
      Syntax: <strong>{{ paste['syntax']|e }}</strong>&nbsp;|&nbsp;
    </div>
    <div class="options">
      <a href="/r/{{ pid }}">Raw</a>&nbsp;|&nbsp;
    </div>
    {% if 'forked_from' in paste and paste['forked_from'] %}
    <div class="options">
      <a href="/d/{{ paste['forked_from'] }}/{{ pid }}">Diff</a>&nbsp;|&nbsp;
    </div>
    {% endif %}
    <div class="options">
      <a href="/f/{{ pid }}">Fork</a>
    </div>
  </div>
{% endblock %}
