{% extends 'base.html' %}

{% block head %}
  <style>{{ paste['css'] }}
  .code { background: #ffffff;}</style>
{% endblock %}

{% block body %}
  <div class="bar">
    <div class="title">
      Title: <strong>{{ paste['title']|e }}</strong>
    </div>
    <div class="author">
      Author: <strong>{{ paste['name']|e }}</strong>
    </div>
  </div>
  <div class="paste">
    {{ paste['code'] }}
  </div>
  <div class="bar">
    <div class="syntax">
      Syntax: <strong>{{ paste['syntax']|e }}</strong>
    </div>
    <div class="options">
      <a href="/r/{{ pid }}">Raw</a>
    </div>
  </div>
{% endblock %}
